.game-over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #1c2127;
  animation: fadeIn 1.5s linear both;
  animation-delay: 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .replay-button {
    animation: fadeIn 1s linear both;
    animation-delay: 2.1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 0.7;
    pointer-events: all;
  }
}
